@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';
body {
    background-color: #f4f7f9;
}

.user-management-heading {
    font-size: 2rem;
    color: #4a4a4a;
}

.table-custom {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-custom th,
.table-custom td {
    vertical-align: middle;
}

.table-custom thead th {
    background-color: #007bff;
    color: #ffffff;
}

.table-custom tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-custom tbody tr:hover {
    background-color: #f1f1f1;
}

.user-profile-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.no-users-message {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop-mt-5 {
    margin-top: 3rem;
}

.desktop-mb-5 {
    margin-bottom: 3rem;
}

.desktop-mt-4 {
    margin-top: 3rem;
}

.no-users-message p {
    font-size: 1.2rem;
    color: #6c757d;
    margin: 0;
}

.no-users-message i {
    color: #17a2b8;
    margin-right: 10px;
}

@media (max-width: 1100px) {
    .search-container {
        margin-bottom: 15px !important;
    }
}

@media (max-width: 768px) {
    .desktop-mt-5 {
        margin-top: 0;
    }
    .intro-image {
        display: none;
    }
    .desktop-mb-5 {
        margin-bottom: 0;
    }
    .desktop-mt-4 {
        margin-top: 0;
    }
    .table-responsive {
        overflow-x: auto !important;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 0;
    }
    .table {
        width: 100% !important;
    }
    .table thead th {
        white-space: nowrap;
    }
    .user-profile-pic {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
    .table th,
    .table td {
        padding: 5px;
        font-size: 0.8rem;
    }
    .table td img {
        max-width: 100%;
        height: auto;
    }
    .container,
    .row {
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 100% !important;
        width: 100% !important;
    }
    .pagination-paragraph {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    .user-profile-pic {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .table th,
    .table td {
        padding: 4px;
        font-size: 0.8rem;
    }
}